h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
h3 {
    color: white;
    padding-top: 45px;
    font-family: 'Courier New', Courier, monospace;
}

h5 {
    color: white;
    font-family:'Courier New', Courier, monospace;
}

h6 {
    font-size: 10px;

}

body{
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

p {
    font-family:'Courier New', Courier, monospace;
}

.img-fluid {
    max-width: 100%
}

.site-footer {
    background-image: linear-gradient(#16222a, #3a6073);
    padding: 20px 0;
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace

}

.jumbotron {
    padding: 1px;
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white; 
    margin-bottom:0;
}

.navbar {
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
    margin-bottom:0;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
   
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    padding-top: 20px;
    padding-bottom: 20px;
    border:1px #0f2027;
}

#carouselButton {
    position: absolute;
    right: 1px;
    bottom: 20px;
    z-index: 100;
    
}

.row-content {
    padding: 10px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.textTitle {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

.dropdown-menu {
    position: relative;
}

.card-img:hover{
    transform: scale(1.03);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card {
    color: black;
}

.card text-center mb-3{
    border-radius: 5%;
}

#firstProfileCard {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;  
}

.navbar navbar-expand-lg {
    background-color: white;
}

.indexImage {
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: relative;
    top: 0;
    left: 0;
  }