
h3 {
    color: white;
    padding-top: 45px;
    font-family: 'Courier New', Courier, monospace;
}

h5 {
    color: white;
}

.img-fluid {
    max-width: 100%
}

.site-footer {
    background-image: linear-gradient(#16222a, #3a6073);
    padding: 20px 0;
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace

}

.jumbotron {
    padding: 1px;
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white; 
    margin-bottom:0;
}

.navbar {
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
    margin-bottom:0;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace
   
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    padding-top: 20px;
    padding-bottom: 20px;
    border:1px #0f2027;
}

#carouselButton {
    position: absolute;
    right: 1px;
    bottom: 20px;
    z-index: 100;
    
}

.row-content {
    padding: 10px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.textTitle {
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

.dropdown-menu {
    position: relative;
}

.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}